.moitonArea {
    background-color: rgba(128, 255, 0, 0.3);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}

.projectSelectBar {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 5%;
    width: 90%;
    height: 4rem; /*ボタンの高さよりスクロールバー分大きくとる*/
    white-space: nowrap; /*折り返しなし*/
    overflow-x: scroll;
    overflow-y: hidden;

    /*スクロールバーの非表示(https://web-camp.io/magazine/archives/89195)*/
    /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
    -ms-overflow-style: none;
    /*Firefoxへの対応*/
    scrollbar-width: none;
}

/*スクロールバーの非表示*/
/*Google Chrome,Safariへの対応*/
.projectSelectBar::-webkit-scrollbar {
    display: none;
}

.projectSelectButton {
    height: 3rem;
    width: 6rem;
}

.planetArea{
    position: relative;
    margin-left: auto;
    margin-right: auto;

    width: 90%;
    height: 60%;
    top: 10%;
    background-color: rgba(0, 0, 255, 0.5);

    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0%{
        width: 90%;
        height: 60%;
        top: 10%;
    }
    100%{
        width: 0%;
        height: 0%;
        top: 30%;
    }
}

@keyframes fadeIn {
    0%{
        width: 0%;
        height: 0%;
        top: 30%;
    }
    100%{
        width: 90%;
        height: 60%;
        top: 10%;
    }
}