.moitonArea {
    /*background-color: rgba(128, 255, 0, 0.3);*/
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}

.projectSelectBar {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 10000;
    top: 5%;
    width: 80%;
    height: 5rem;
    /*ボタンの高さよりスクロールバー分大きくとる*/
    white-space: nowrap;
    /*折り返しなし*/
    overflow-x: scroll;
    overflow-y: hidden;

    /*スクロールバーの非表示(https://web-camp.io/magazine/archives/89195)*/
    /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
    -ms-overflow-style: none;
    /*Firefoxへの対応*/
    scrollbar-width: none;
}

/*スクロールバーの非表示*/
/*Google Chrome,Safariへの対応*/
.projectSelectBar::-webkit-scrollbar {
    display: none;
}

.projectSelectButton {
    height: 4rem;
    width: 5rem;
    border-radius: 5%;
    border: 2px solid;

    color: black;
    text-shadow: 0px 1px 0 white, 1px 1px 0 white, 1px 0px 0 white, 1px -1px 0 white, 0px -1px 0 white, -1px -1px 0 white, -1px 0px 0 white, -1px 1px 0 white;
    font-size: 1rem;

    background-color: rgba(220, 220, 220, 0.5);
    backdrop-filter: blur(5px);
}

.projectSelectButton_selected{
    background-color: gainsboro;
}

.planetArea {
    position: relative;
    margin-left: auto;
    margin-right: auto;

    width: 90%;
    height: 60%;
    top: 6%;
    /*background-color: rgba(0, 0, 255, 0.5);*/

    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
        width: 90%;
        height: 60%;
        top: 6%;
    }

    100% {
        width: 0%;
        height: 0%;
        top: 30%;
    }
}

@keyframes fadeIn {
    0% {
        width: 0%;
        height: 0%;
        top: 30%;
    }

    100% {
        width: 90%;
        height: 60%;
        top: 6%;
    }
}

.planetBox {
    position: absolute;
    width: 30%;
    height: 30%;
    background-color: rgba(153, 205, 50, 0.5);
    z-index: 100;
    visibility: hidden;
}


.planetImage {
    position: relative;
    width: 40%;
    left: 30%;
    top: -2rem;
    visibility: visible;

    /*animation-name: planetImageAnimation;*/
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    /*filter: brightness(0.5);*/
}

.imgBlur{
    filter: blur(1px);
}

@keyframes planetImageAnimation {
    0% {
        top: 10%;
    }

    100% {
        top: 15%;
    }
}


.planetGroupName {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
    bottom: 2rem;
    /*background-color: aqua;*/

    text-shadow: 0px 1px 0 white, 1px 1px 0 white, 1px 0px 0 white, 1px -1px 0 white, 0px -1px 0 white, -1px -1px 0 white, -1px 0px 0 white, -1px 1px 0 white;
    font-size: 1rem;
}

.planetProjectName {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
    top: -2rem;

    text-shadow: 0px 1px 0 white, 1px 1px 0 white, 1px 0px 0 white, 1px -1px 0 white, 0px -1px 0 white, -1px -1px 0 white, -1px 0px 0 white, -1px 1px 0 white;
    font-size: 1rem;
}



.contents_spaceSmoke{
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}

.imageTitleArea{
    position: relative;
    /*background-color: rgba(255, 0, 0, 0.5);*/
}

.titleArea{
    position: relative;
    padding: 0rem 1rem 0rem 1.5rem;
    height: max-content;

    color: white;
    /*background-color: rgba(0, 0, 255, 0.5);*/
}

.groupNameText{
    position: relative;
    font-size: 1.2rem;
    line-height: 0rem;
    top: 0.6rem;
}
.projectNameText{
    position: relative;
    font-size: 1.6rem;
    top: 0rem;
    line-height: 1.6rem;
}

.titleMark{
    position: absolute;
    width: 1rem;
    height: 100%;
    top: 0rem;
    left: 0rem;
    background-color: aqua;
}

.imageArea{
    position: relative;
    /*margin: 1rem 1rem 1rem 1rem;*/
    margin-left: auto;
    margin-right: auto;
    height: 14rem;
    width: 100%;
    /*background-color: aqua;*/
}

.projectImage{
    position: relative;
    display: block;
    /*margin: 1rem 1rem 1rem 1rem;*/
    margin-left: auto;
    margin-right: auto;
    height: 14rem;
}

.leftButton{
    position: absolute;
    top: 5.5rem;
    height: 3rem;
    left: 10%;
}

.rightButton{
    position: absolute;
    top: 5.5rem;
    height: 3rem;
    right: 10%;
}

.niceArea{
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    /*background-color: rgba(0, 255, 255, 0.5);*/
}

.niceButton {
    position: relative;
    height: 2rem;
    margin: 1rem 1rem 1rem 2rem;
    display: none;
}

.numberOfLikes{
    position: absolute;
    /*display: inline-block;*/
    margin-left: 5rem;
    padding-left: 0rem;
    height: 2rem;
    color: white;
    
    /*background-color: rgba(137, 43, 226, 0.5);*/
    font-size: 1.5rem;
}

.niceImageArea{
    position: relative;
    aspect-ratio: 1/1;
    height: 2rem;
    margin: 1rem 1rem 1rem 2rem;
    /*background-color: aliceblue;*/
}

.niceImage{
    position: absolute;
    width: 100%;

    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    /*background-color: rgb(0, 136, 255);*/
}

@keyframes niceOutAnimation{
    0%{
        width: 120%;
        top: -10%;
        left: -10%;
    }
    100%{
        width: 0%;
        top: 50%;
        left: 50%;
    }
}
@keyframes niceInAnimation{
    0%{
        width: 0%;
        top: 50%;
        left: 50%;
    }
    100%{
        width: 100%;
        top: 0%;
        left: 0%;
    }
}

.descriptionArea{
    position: relative;
    padding: 0rem 1rem 1rem 1rem;
    color: white;
    top: -1rem;
    /*background-color: rgba(127, 255, 212, 0.5);*/
}

.heading_comment{
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 1.5rem;
    top: 1rem;
}

.description{
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-bottom: solid 2px white;
    border-top: solid 2px white;
}

.backButton{
    position: relative;
    color: white;
    font-size: 1.2rem;
    background: none;
    border: none;
}

.toMapButton{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: 0rem;
    color: paleturquoise;
    font-size: 1.2rem;
    background: none;
    border: none;
}