/*bubbleFrameが最前面にあると画面が触れなくなるから
アニメーションするときにMenuBarのスクリプトで最前面に持ってくる*/
#bubbleFrame{
    position: fixed;
    height: 100%;
    top: 0%;

    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    z-index: 10000;
}

.bubbleImage{
    position: absolute;
    width: 140%;
    left: -20%;
}

.bubbleMotionOut{
    top: 100%;

    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes bubbleAnimationOut_0 {
    100%{
        top: 0%;
    }
}
@keyframes bubbleAnimationOut_1 {
    100%{
        top: 20%;
    }
}
@keyframes bubbleAnimationOut_2 {
    100%{
        top: 40%;
    }
}
@keyframes bubbleAnimationOut_3 {
    100%{
        top: 60%;
    }
}
@keyframes bubbleAnimationOut_4 {
    100%{
        top: 80%;
    }
}