.footer {
    position: relative;
    background-color: lightcyan;
    height: 30rem;
    width: 100%;
}

.menuBar {
    position: fixed;
    display: flex;
    justify-content: space-around;
    bottom: 0%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(63, 63, 63);
    /*aspect-ratio: 1/0.1414;*/
    height: 10%;
}

.menuButtons{
    position: relative;
    top: -50%;
    width: 20%;
    text-align: center;
}

.menuTexts{
    position: relative;
    bottom: 2rem;
    z-index: 1001;
    margin-left: auto;
    margin-right: auto;

    text-shadow: 0px 1px 0 white, 1px 1px 0 white, 1px 0px 0 white, 1px -1px 0 white, 0px -1px 0 white, -1px -1px 0 white, -1px 0px 0 white, -1px 1px 0 white;
    font-size: 1rem;
}

.menuImages{
    position: relative;
    bottom: 0rem;
    width: 90%;
    z-index: 1000;
}


.changeSceneMotion{
    background-color: aquamarine;
    opacity: 90%;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    top: 100%;
    z-index: 10000;

    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: changeSceneAnimation;
}

@keyframes changeSceneAnimation {
    100%{
        top: 0%;
    }
}

#popUp{
    position: fixed;
    height: 100%;
    top: 0%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(128, 128, 128, 0.8);
    z-index: 100000;
}

#closeIcon{
    position: absolute;
    width: 64px;
    top: 10%;
    right: 10%;
    background-color: darkseagreen;
}

.floatNotice{
    position: absolute;
    width: 40%;
    height: 20vh;
    background-color: yellowgreen;
    border-radius: 10px;

    top: 50vh;
    left: -40%;
    opacity: 100%;

    animation-name: floatNoticeMotion;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes floatNoticeMotion{
    100%{
        left: 0%;
    }
}


.floatNoticeText{
    color: rgb(85, 0, 255);
}


.invisible{
    display: none;
}