#mapCanvas{
    position: relative;
    width: 90%;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background-color: rgba(184, 135, 11, 0.5);
}

.mapMovingBox{
    position: absolute;
    width: 500px;
    /*高さは子要素に応じて変わる*/
    background-color: rgba(0, 0, 255, 0.5);
}

.campusMap_1{
    position: relative;
    width: 100%;
}

.mapObjectBox{
    position: absolute;
    aspect-ratio: 1/1;
    width: 5rem;
}

.mapObjectImage{
    width: 100%;
    background-color: rgba(0, 255, 255, 0.3);
}

.mapObjectText{
    position: relative;
    text-align: center;
    top: -1rem;
}